@import '../../index.scss';

.menu-top {
    display: flex;

    button {
        background-color: transparent;
        color: $menu-light-background;
        font-size: 17px;

        &hover {
            color: $primary-color;
        }

        &:focus,
        &:active {
            color: $theme-font-light;
        }
    }

    &__left {


        &-logo {
            width: 120px;
            margin: 13px 40px;
        }
    }
}