@import '../../index.scss';

.menu-top {
    display: flex;

    button {
        background-color: transparent;
        color: $menu-light-background;
        font-size: 17px;

        &hover {
            color: $primary-color;
        }

        &:focus,
        &:active {
            color: $theme-font-light;
        }
    }

    &__left {
        
        &-logo{
            max-width: 120px;
            margin: 13px 40px;
            transition-timing-function: ease-out;
            transition: width 0.5s;
        }

        &-logob{
            width: 32px;
            margin: 9px 25px;
            transition-timing-function: ease-out;
            transition: width 0.5s;
        }


    }
}