.modal-card{
    .ant-card-meta{
        margin: 2px 0px;
    }

    .ant-card-meta-avatar{
        padding-right: 0px;
    }
    .ant-modal-title{
        font-weight: 600;
        font-size: 18px;
    }

}