.ds-small-content {

    .ant-statistic-content {
        margin-top: 30px;
        font-size: 16px;
    }
}

.ds-info-top {
    .ant-card-body {
        padding: 16px;
    }
}


.row-statistic {
    .ant-card-body {
        padding: 12px;
    }
}